.streamItem {
  width: 31% !important;
  height: 170px;
  margin: 13.5px;
  float: left;
  background-color: gray;
}

.streamItem-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
